*{
    padding: 0;
    margin: 0;
}
.tulisan{
    font-family: "Quicksand";
}
.button{
    font-family: "Quicksand";
    padding: 14px;
    width: 100px;
}
.image{
    width: 100px;
    height: 100px;
}